@model IEnumerable<StockTracker.Models.Stock>

@{
    ViewData["Title"] = "Stocks";
}

<script src = "https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<h1>Stock Data Displayer</h1>
<p>This page displays the historical close prices of a stock. The view can be toggled to show a list or a chart representation. </p>

<div class="container">
    <div class="row">
            <form asp-controller="Home" asp-action="Stock" method="post">
                <div class="row">
                    <div class="col-4">
                        <input name="stock_symbol" class="form-control text-uppercase" placeholder="Stock symbol"  />
                    </div>
                    <div class="col-4">
                        <input id="submit_btn" type="submit" class="btn btn-primary" value="Search"/>
                    </div>
                </div>
            
            @*<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Loading...*@  
        </form>
    </div>
    <br /><br />
    <div class="custom-control custom-switch">
        <input id="view_button" type="checkbox" class="custom-control-input" />
        <label class="custom-control-label" for="customSwitches">Toggle for diagram/ list view</label>
    </div>
</div>







<div>
   <table class="table" id="stock_table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CloseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Close)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdjustedClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volume)
            </th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CloseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Close)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdjustedClose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
        </tr>
        }
    </table>
</div>

<div>
    <canvas id="my_chart" width="350" height="200"></canvas>

    <script>

        $(document).ready(function() {
            $("#stock_table").hide();
            $("#view_button").on("click", function() {
                $("#stock_table").toggle();
                $("#my_chart").toggle();
            });
        });

        $(document).ready(function() {
            $("#submit_btn").click(function() {
                $(this).html(`span class="spinner - border spinner - border - sm" role="status" aria-hidden="true">Loading...</span>`);
            });
        });

        var model = @Html.Raw(Json.Serialize(ViewBag.stock));
        var closedPriceList = [];
        var dates = [];
        var date = new Date();
        for (let i = 0; i < model.length; i++){
            closedPriceList.push(model[i]['close']);
            dates.push(model[i]['closeDate'].substring(5,10));
        }
        const ctx = document.getElementById('my_chart').getContext('2d');
        const my_chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: 'Stock data for ' + model[0]["symbol"],
                    data: closedPriceList,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)'
                        /*'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'*/
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)'
                        /*'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'*/
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: false
                    }
                }
            }
        });
    </script>

</div>
<div>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    <a asp-action="Index">Back to List</a>
</div>
